@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<p>
    This is an example of using the open-source <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>.
    See @Html.ActionLink("Home Page", "Index", "Home") for more information.
</p>
