@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<p>
    This is an example of using the open-source <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>.
    See @Html.ActionLink("Home Page", "Index", "Home") for more information.
</p>
<ul>
    <li>This is NOT an open-source project, but the source code is made available for reference.</li>
    <li>The <a href="http://docs.telerik.com/kendo-ui/aspnet-mvc/introduction" target="_blank">Kendo UI MVC</a> is the property of <a href="http://www.telerik.com/" target="_blank">Telerik</a>.</li>
</ul>