@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h3>Jon Smith</h3>

<p>
    You can contact me through my <a href="http://www.thereformedprogrammer.net/">Technical Blog Site</a>
    and can find out more about me via my <a href="http://uk.linkedin.com/pub/jon-smith/0/327/97a">LinkedIn page</a>.
</p>

