@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the Sample MVC Web Application - Complex version</h2>
<p>
    <strong>
        This web site is designed to demonstrate the open-source <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>
        developed by <a href="http://www.thereformedprogrammer.net/about-me/" target="_blank">Jon Smith</a>
        to provide a reasonably complex, but limited in scope, ASP.NET MVC web application based around the
        <a href="http://msftdbprodsamples.codeplex.com/releases/view/55330" target="_blank">Adventureworks 2012 Lite database</a>.
    </strong>
</p>
<h3 class="text-info">Overview</h3>
<p>
    This web application was written to 'stress test' the <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>
    by exposing it to an existing database that has more realistic level of complexity, i.e, the Adventureworks 2012 Lite database.
    An overview of the process I went through to develop this application can be found in the following articles:
</p>
<p style="margin-left:30px">
    <strong>
        Part 1: <a href="https://www.simple-talk.com/dotnet/.net-framework/using-entity-framework-with-an-existing-database-data-access/" target="_blank">
            Using Entity Framework with an Existing Database: Data Access.
        </a>
    </strong>
    All about handling existing SQL databases using Entity Framework.
    <br />
    <strong>
        Part 2: <a href="https://www.simple-talk.com/dotnet/asp.net/using-entity-framework-with-an-existing-database--user-interface/" target="_blank">
            Using Entity Framework with an Existing Database: User Interface.
        </a>
    </strong>
    Descibes the overall architecture of the system.

</p>
<p>
    <strong>NOTE:</strong> This web application is about testing/documenting various software features. I have <strong>NOT</strong> spent time on the visual design of the site.
</p>
<hr />
<h3 class="text-info">Where should I start?</h3>

<h4>You just want to see what the application can do</h4>
<p>
    The application is designed to provide AdventureWorks staff with the tools to handle customers and their orders.
    Just follow the menu items at the top of the screen to access the various screens.
    <br />
    <strong>Notes:</strong>
</p>
<ul>
    <li>Each page has a '<em>Special features on this page</em>' section at the top. This tells you what user features this page has on it.</li>
    <li>
        Most of the controls are provided by the proprietary, paid-for library <a href="http://docs.telerik.com/kendo-ui/aspnet-mvc/introduction" target="_blank">Kendo UI MVC</a>.
        The Kendo UI MVC code is NOT included in the software.
    </li>
    <li>
        The data is NOT protected, so you can add, edit and delete customers and orders.
        <br />
        <small>
            Please be careful when editing as the only way to reset the database is for me to manually restore a backup.
            If you want to edit then try adding a new order, as that is a) fairly complex and b) not too intrusive. You can edit or delete your new order too.
        </small>
    </li>
</ul>
<h4>You are a developer looking at using GenericServices</h4>
<ul>
    <li>
        <strong>If you are new to GenericServices</strong>
        <br />
        I would suggest you look at the
        <a href="http://samplemvcwebapp.net/" target="_blank">SampleMvcWebApp</a> site first as its simpler and is fully open-source.
        This web site is a more advanced and, because it uses proprietary libraries, it is NOT open-source, although the code is accessible as a reference.
    </li>
    <li>
        <strong>You want to study the more complex usages of GenericServices</strong>
        <br />
        I suggest you look at this web site in conjunction with:
        <ol>
            <li>
                The <a href="https://github.com/JonPSmith/GenericServices/wiki" target="_blank">GenericServices documentation</a>, which refers to the code from this example.
            </li>
            <li>
                The <a href="https://github.com/JonPSmith/SampleMvcWebAppComplex)" target="_blank">reference source code</a> of this running web application.
            </li>
            <li>
                The open-source <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>.
            </li>
        </ol>
    </li>
</ul>
<h3>Finally</h3>
<ul>
    <li>This is NOT an open-source project, but the source code is made available for reference.</li>
    <li>The <a href="http://docs.telerik.com/kendo-ui/aspnet-mvc/introduction" target="_blank">Kendo UI MVC</a> is the property of <a href="http://www.telerik.com/" target="_blank">Telerik</a>.</li>
</ul>

