@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to the Sample MVC Web Application - Complex</h1>
<p class="lead">
    <strong>
        This web site is designed to demonstrate the open-source <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>
        working on a more complex application based around the
        <a href="http://msftdbprodsamples.codeplex.com/releases/view/55330" target="_blank">Adventureworks 2012 Lite database</a>.
    </strong>
</p>
<h3 class="text-info">Overview</h3>
<p>
    This web application was written to 'stress test' the <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>
    by exposing it to an existing database that has more realistic level of complexity.
    An overview of the process I went through to develop this application can be found in an article called:
</p>
<p style="text-indent:30px">
    <strong>
        <a href="https://www.simple-talk.com/dotnet/asp.net/using-entity-framework-with-an-existing-database--user-interface/" target="_blank">Using Entity Framework with an Existing Database: User Interface</a>
    </strong>
</p>
<p>
    <strong>NOTE:</strong> This web application is about testing/documenting various software features. I have <strong>NOT</strong> spent time on the visual design of the site.
</p>
<hr/>
<h3 class="text-info">Where should I start?</h3>

<h4>You just want to see what the application can do</h4>
<p>
    This web application is designed to be used by AdventureWorks staff to handle customers and their orders.
    Follow the menus at the top.
    <br />
    <strong>Notes:</strong>
</p>
<ul>
    <li>Each page has a '<em>Special features on this page</em>' section at the top. This tells you what user features this page has on it.</li>
    <li>
        Most of the controls are provided by the proprietary, paid-for library <a href="http://docs.telerik.com/kendo-ui/aspnet-mvc/introduction" target="_blank">Kendo UI MVC</a>.
        The Kendo UI MVC code is NOT included in the software.
    </li>
    <li>
        The data is NOT protected, so you can add, edit and delete customers and orders.
        <br/>
        <small>
            Please be careful when editing as the only way to reset the database is for me to manually restore a backup.
            If you want to edit then try adding a new order, as that is a) fairly complex and b) not too intrusive. You can edit or delete your new order too.
        </small>
    </li>
</ul>
<h4>You are a developer looking at using GenericServices</h4>
<ul>
    <li>
        <strong>If you are new to GenericServices</strong>
        <br />
        I would suggest you look at the
        <a href="http://samplemvcwebapp.net/" target="_blank">SampleMvcWebApp</a> site first as its simpler and is fully open-source.
        This web site is a more advanced and, because it uses proprietary libraries, it is NOT open-source, although the code is accessible as a reference.
    </li>
    <li>
        <strong>You want to study the more complex use of GenericServices</strong>
        <br />
        I suggest you look at this web site in conjunction with:
        <ol>
            <li>
                The <a href="https://github.com/JonPSmith/GenericServices/wiki" target="_blank">GenericServices documentation</a>, which refers to the code from this example.
            </li>
            <li>
                The open-source <a href="https://github.com/JonPSmith/GenericServices" target="_blank">GenericServices library</a>.
            </li>
        </ol>
    </li>
</ul>
<h3>Finally</h3>
<ul>
    <li>This is NOT an open-source project, but the source code is made available for reference.</li>
    <li>The <a href="http://docs.telerik.com/kendo-ui/aspnet-mvc/introduction" target="_blank">Kendo UI MVC</a> is the property of <a href="http://www.telerik.com/" target="_blank">Telerik</a>.</li>
</ul>

